
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Poetry Recommendation Engine
      </h1>
    </div>
  </div>
</section>


<section class="section">
	<div class="container">


<h2 class="subtitle">Search for a poem you like and click on the title to see similar poems. 

<br />

<form action="/submit" method="POST">
<div class="control is-grouped">
	<p class="control is-expanded">
	<input class="input" type="text" name="query" placeholder="Search by poet or title" />
</p><p class="control">
	<input class="button is-info" type="submit" value="Submit" />
	</p>
</div>
</form>
<br />

<h2 class="subtitle">Hello! I am in beta. Best to check back later when I promise I will make all of the sense.</h2>

<h2 class="subtitle"><%= @foo %></h2>
<ul>
<% @poems.each do |poem| %>
	<li>
		<a href="poem/<%= poem[:id] %>"><%= poem[:title] %></a> by <%=poem[:poet] %>
	</li>
<% end %>
</ul>


	</div>
</section>
