<html>
<head>
    <title>Gothons From Planet Percal #25</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.2/css/bulma.css">
</head>
<body>

<section class="section">
	<div class="container">

	<%= yield %>

	</div>
</section>

</body>
</html>