<html>
<head>
    <title>Poetry Recommendation Engine</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.2/css/bulma.css">


  <script src="/mark.js/dist/mark.min.js"></script>

  <script>
    console.log("executing mark.js test code");
    var instance = new Mark(document.querySelector("div.column"));
    instance.mark("text", {
        "element": "span",
        "className": "highlight"
    });
    console.log("executed mark.js test code");
  </script>

</head>
<body>

<section class="hero is-primary is-medium">
  <div class="hero-head">
  <nav class="nav">
 
  <div class="nav-right nav-menu">
    <a class="nav-item" href="/">
      Home
    </a>
    <a class="nav-item" href="/howitworks">
      About
    </a>
    <a class="nav-item" href="/poem/256">
      Surprise Poem
    </a>
  </div>
</nav>
</div>
</section>

	<%= yield %>



<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Poetry Engine</strong> by <a href="http://katygero.wordpress.com" target="_blank">Katy Gero</a>.
        <br />
        Poems from <a href="https://www.poetryfoundation.org" target="_blank">Poetry Foundation</a>
      </p>
    </div>
  </div>
</footer>
</body>
</html>