<html>
<head>
    <title>Poetry Recommendation Engine</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.2/css/bulma.css">
</head>
<body>

<section class="section">
	<div class="container">

	<%= yield %>

	</div>
</section>


<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Poetry Engine</strong> by Katy Gero.
        <br />
      	The source code is this website is
        <a href="http://github.com/kgero/poetry-web-app">here</a>.
        <br />
     	The source code for the analysis is <a href="http://github.com/kgero/poetry-engine">here</a>.
      	<br />
      	<a href="/howitworks">How does the analysis work?</a>
      </p>
    </div>
  </div>
</footer>
</body>
</html>