<html>
<head>
    <title>Poetry Recommendation Engine</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.2/css/bulma.css">
</head>
<body>



	<%= yield %>



<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Poetry Engine</strong> by <a href="http://katygero.wordpress.com" target="_blank">Katy Gero</a>.
        <br />
        Poems from <a href="https://www.poetryfoundation.org" target="_blank">Poetry Foundation</a>
      </p>
    </div>
  </div>
</footer>
</body>
</html>