span.mark1{
    background: #1fc8db;
    color: black;
}

mark2{
    background: #015eb7;
    color: black;
}

mark3{
    background: #3eca4d;
    color: black;
}

mark4{
    background: #f03243;
    color: black;
}

mark5{
    background: #01bea7;
    color: black;
}

mark6{
    background: #c161a3;
    color: black;
}